{% do action('woocommerce_before_cart') %}

<form action="{{ fn('wc_get_cart_url')|e('esc_url') }}" method="post">
	{% do action('woocommerce_before_cart_table') %}

	<ul class="l-flow | mt-12" data-flow-size="md">
		{% do action('woocommerce_before_cart_contents') %}

		{% for key, item in cart_items %}
			{% set product = item.data|apply_filters('woocommerce_cart_item_product', item, key) %}

			{% if product and product.exists() and item.quantity > 0 and true|apply_filters('woocommerce_cart_item_visible', item, key) %}
				<li>
					<div class="l-cart-item [ border-2 border-white border-solid ] [ p-8 ]">
						<a class="l-cart-item__image" href="{{ product.get_permalink(item)|e('esc_url') }}">{{ product.get_image()|e('wp_kses_post') }}</a>
						<div class="l-flow | l-cart-item__title" data-flow-size="sm">
							<p class="text-sm">{{ product.get_attribute('producent') }}</p>
							<p><a class="[ text-[18px] uppercase font-bold ]"
								  href="{{ product.get_permalink(item)|e('esc_url') }}">
									{{ product.get_name()|e }}
								</a></p>
							<p class="text-sm text-gray font-bold">{{ product.get_attribute('pojemnosc') }}</p>
						</div>
						<a class="l-cart-item__delete [ uppercase text-sm font-bold ] text-gray [ underline-offset-2 hover:underline ]" href="{{ fn('wc_get_cart_remove_url', key)|e('esc_url') }}">Usuń</a>
						{{ fn('wc_get_formatted_cart_item_data', item) }}
						<div class="l-cart-item__price [ flex items-center gap-8 ]">
							<span class="hidden">{{ cart.get_product_price(product)|e('wp_kses_post') }}</span>
							{{ increment_input }}
							<increment-input class="flex flex-wrap gap-6 items-center">
								<style>
									input::-webkit-outer-spin-button,
									input::-webkit-inner-spin-button {
										-webkit-appearance: none;
										margin: 0;
									}
									input[type="number"] {
										-moz-appearance: textfield;
									}
								</style>
								<label class="uppercase font-bold" slot="label" for="{{ 'quantity_' ~ key }}">Ilość</label>
								<input type="number"
									   class=""
									   id="{{ 'quantity_' ~ key }}"
									   step="1"
									   name="{{ 'cart[' ~ key ~ '][qty]'|e }}"
									   autocomplete="off"
									   inputmode="numeric"
									   min="0"
									   max="{{ product.get_max_purchase_quantity() ? ''|e }}"
									   value="{{ item.quantity|e }}"/>
							</increment-input>
							<span>{{ cart.get_product_subtotal(product, item.quantity)|e('wp_kses_post') }}</span>
						</div>
					</div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	<button type="submit"
			class="c-button [ ml-auto my-4 ]"
			style="--button-display: block"
			data-button-type="outline"
			name="update_cart"
			value="Aktualizuj koszyk"
			>
		Aktualizuj koszyk
	</button>

	{% do action('woocommerce_cart_contents') %}

	{% if fn('wc_coupons_enabled') %}
		<div class="coupon">
			<label class="block [ uppercase text-sm font-bold ] [ my-4 ]" for="coupon_code">Kod rabatowy</label>
			<input class="[ border-solid border-white border-2 ] [ p-4 ]"
				   type="text"
				   name="coupon_code"
				   id="coupon_code"
				   value=""
				   placeholder="Kupon"/>
			<button type="submit"
					class="c-button [ border-solid border-white border-2 ]"
					data-button-type="filled"
					name="apply_coupon"
					value="Użyj kodu">Użyj kodu</button>
			{% do action('woocommerce_cart_coupon') %}
		</div>
	{% endif %}

	{% do action('woocommerce_cart_actions') %}

	{{ nonce }}

	{% do action('woocommerce_after_cart_contents') %}

	{% do action('woocommerce_after_cart_table') %}
</form>

{% do action('woocommerce_before_cart_collaterals') %}

<div class="cart-collaterals">
	{#
	# @hooked woocommerce_cross_sell_display
	# @hooked woocommerce_cart_totals - 10
	#}
	{% do action('woocommerce_cart_collaterals') %}
</div>

{% do action('woocommerce_after_cart') %}
