{% extends 'page.twig' %}

{% block header %}
	<header class="pt-12">
		<div class="l-container [ flex items-center ]">
		<a class="font-bold uppercase" href="{{ shop_link|e('esc_url') }}"><i class="icon-left"></i> Wróć do sklepu</a>
		<a class="absolute [ right-0 lg:right-auto lg:left-1/2 ] [ mr-4 lg:mr-auto ] lg:transform lg:-translate-x-1/2" href="{{site.url}}" rel="home">
			<img class="c-site-logo"
				 src="{{site_logo.src|resize(76)}}"
				 srcset="{{site_logo.src|resize(76)}} 1x, {{site_logo.src|resize(152) }} 2x"
				 alt="{{site.name}}"
				 width="76"
				 height="76"/>
		</a>
		</div>
	</header>
{% endblock %}
