{% extends "base.twig" %}

{% block content %}
	<article class="l-container l-flow | post-type-{{ post.post_type }}" data-flow-size="lg">
		<header class="[ flex flex-row ] [ justify-center lg:justify-between ] [ my-4 lg:my-16 ]">
			<div class="relative">
				<div class="relative">
					<picture>
						<img class="object-cover"
							 src="{{ post.thumbnail.src|resize(400) }}"
							 srcset="{{ post.thumbnail.src|resize(400) }} 1x, {{ post.thumbnail.src|resize(800) }} 2x"
							 alt="{{ post.thumbnail.alt }}"
							 width="400"
							 height="400"/>
					</picture>
					<div class="c-image-border"></div>
				</div>
				<h1 class="c-team-details | l-flow | w-fit [ flex flex-col ] [ font-black uppercase ] " data-flow-size="xs">
					<span class="text-3xl">{{ post.title }}</span>
					<mark class="[ text-md bg-white text-black ] w-fit padding-inline-1">{{ post.meta('team_meta')['pseudo'] }}</mark>
					<span class="text-md text-[#9D9D9D]">{{ post.meta('team_meta')['job'] }}</span>
				</h1>
			</div>
			{% if post.meta('team_meta')['link'] or post.meta('team_meta')['tel'] %}
				<div class="[ hidden lg:flex ] flex-col | text-center | self-center | gap-4">
					{% if post.meta('team_meta')['link'] %}
						<a class="c-button [ text-lg uppercase ]" data-button-type="filled" href="{{ post.meta('team_meta')['link'] }}">Umów wizytę</a>
					{% endif %}
					{% if post.meta('team_meta')['tel'] %}
						<a class="c-button [ text-lg uppercase ]" data-button-width="full" data-button-type="outline" href="tel:{{ post.meta('team_meta')['tel'] }}">Zadzwoń</a>
					{% endif %}
				</div>
			{% endif %}
		</header>
		{{ post.content }}
	</article>
{% endblock %}
