<footer class="text-left [ border-solid border-t-white border-0 border-t-[24px] ] [ mt-4 lg:mt-16 py-8 lg:pt-16 lg:pb-4 ]" id="footer">
	<div class="l-container">
		<div class="flex flex-wrap justify-between uppercase [ py-6 ]">
			<address class="l-flow [ text-sm ]" data-flow-size="xs">
				{{ footer_contact }}
			</address>
			{% if footer_menu %}
				<ul class="columns-2 gap-24 | text-right">
					{% for item in footer_menu.get_items %}
						<li class="{{ item.classes | join(' ') }}">
							<a class="block | py-2" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		<div class="[ py-4 ] [ border-solid border-t-white border-0 border-t-2 ] flex flex-wrap justify-between text-xs uppercase font-semibold">
			<p>&copy; {{ "now"|date('Y') }} KWHD - wszelkie prawa zastrzeżone</p>
			<p class="text-xs">THXAG</p>
		</div>
	</div>
	{{ function('wp_footer') }}

	<dialog id="product-search-dialog" class="bg-transparent border-none | w-full">
		<form class="l-container flex items-center | text-white [ border-2 border-solid border-white ] p-4" role="search" method="get" action="{{ site.url }}">
			<input type="hidden" name="post_type" value="product">
			<label class="sr-only" for="product-search">Szukaj</label>
			<input class="border-none | font-bold | w-full" type="text" autofocus id="product-search" placeholder="Szukaj produktów..." name="s"/>
			<button aria-hidden="true" type="submit"><i class="icon-right-open"></i></button>
		</form>
	</dialog>
	<script defer>
		document.querySelectorAll('.js-pricing-collapse')
			.forEach(el => el.addEventListener('click', (e) => {
				const target = e.currentTarget.nextElementSibling
				if (!target.classList.contains('toggle-content')) return

				if (window.getComputedStyle(target).getPropertyValue('display') === 'none') {
					target.style.display = 'block'
				} else {
					target.style.display = 'none'
				}
			}))
	</script>

	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script src="https://connect.facebook.net/pl_PL/sdk/xfbml.customerchat.js" defer/>
		<script>
			FB.init({
							xfbml            : false,
							version          : 'v7.0'
						});
			FB.Event.subscribe('customerchat.load', function () {
							FB.CustomerChat.show(false)
						});
		</script>

		<!-- Your Chat Plugin code -->
		<div class="fb-customerchat"
			 attribution=setup_tool
			 page_id="109928735741852"
			 theme_color="#111111">
		</div>

</footer>
