<article class="l-flow | c-product-teaser" data-flow-size="sm">
	{% do action('woocommerce_before_shop_loop_item_title') %}

	<a class="hoverable-image" href="{{ post.link }}">
		{% if post.thumbnail %}
			<img src="{{ post.thumbnail.src|resize(500) }}"
				 alt="{{ post.thumbnail.alt }}"
				 class="aspect-square w-full h-auto"
				 width="250"
				 height="250"/>
		{% else %}
			<img class="bg-dark aspect-square w-full h-auto" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" width="250" height="250"/>
		{% endif %}
	</a>

	<div class="leading-10 [ text-sm ] [ border-solid border-white border-0 border-l-2 ] [ pl-2 ]">
		{% if product.get_attribute('producent') %}
			<a href="{{ fn('get_attribute_link', product.get_attribute('producent'), 'producent') }}" class="[ font-light ]">
				{{ product.get_attribute('producent') }}
			</a>
		{% endif %}
		<h3 class="[ font-black text-sm ]">
			<a href="{{ post.link }}">{{ post.title ?: fn('the_title') }}</a>
		</h3>
		<span class="block [ text-gray text-xs ]">{{ product.get_attribute('pojemnosc') }}</span>
		{% do action( 'woocommerce_after_shop_loop_item_title' ) %}
	</div>

</article>
